{% if theme_var('sticky-footer') %}{% set body_classes = body_class(['sticky-footer']) %} {% endif %}
{% set grid_size = theme_var('grid-size') %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head deferred %}
    <meta charset="utf-8" />
    {# <title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title> #}
    <title>{% block title %}{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
{% endblock head %}

{% block stylesheets %}
    {# SPECTRE CSS FRAMEWORK AND ICONS #}
    {% do assets.addCss('theme://css-compiled/spectre.min.css') %}
    {% if theme_var('spectre.icons') %}
        {%  do assets.addCss('theme://css-compiled/spectre-icons.min.css') %}
    {% endif %}
    {# THEME AND CUSTOM CSS #}
    {% do assets.addCss('theme://css-compiled/theme.min.css') %}
    {# {% do assets.addCss('theme://css/prism.css') %} #}
    {% do assets.addCss('theme://css/custom.css') %}
    {# FONTS #}
    {# PARCE QUE ICON CSS on ne charge pas Font Awesome #}
    {# Font Awesome 4.7 #}
    {# {% do assets.addCss('theme://css-compiled/fontawesome.min.css') %} #}
    {# Route159 font from Dotcolon - http://dotcolon.net/font/route159/ #}
    {% do assets.addCss('theme://css/route159_fontface.min.css') %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 101) %}
    {% if theme_var('header-fitted') %}{% do assets.addJs('theme://js/fittext.js') %}{% endif %}
    {% do assets.addJs('theme://js/site.js') %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{% block body_classes %}{{ body_classes }}{% endblock %} {{ page.header.body_classes }}">

{% block header %}
    {% include 'partials/header.html.twig' %}
{% endblock %}

{% block hero %}{% endblock %}

{% block body %}
    <section id="content" class="extlinkson">
        <div class="wrapper padding">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
    {# {% do assets.addJs('theme://js/prism.js') %} #}
    {% if theme_var('spectre.links') %}
        <script>
            var extlinksonel = document.getElementsByClassName("extlinkson");
            for(var i = 0; i < extlinksonel.length; i++) {
                var a = extlinksonel[i].querySelectorAll("a[href^=http]");
                for(var j = 0; j < a.length; j++) {
                    var exticon = document.createElement("i");
                    exticon.setAttribute("class", "icon icon-link");
                    exticon.setAttribute("style", "margin-right: 0.1rem");
                    a[j].prepend(exticon);
                }
            }
            
        </script>
    {% endif %}
{% endblock %}
</body>
</html>
