{% extends 'partials/base.html.twig' %}
{% set show_pagination = header_var('show_pagination', [page, blog])|defined(true) %}
{% set collection = page.collection() %}

{% block body %}
    <section id="body-wrapper" class="section blog-listing">
        <section class="container {{ grid_size }}">

            <div class="columns">
                <div class="column col-9 col-mx-auto col-sm-12 extlinkson bglinkson">
                    <h1>{{ page.title }}</h1> 
                    {# Si page parente Brice Boucard (menu : parcours) #}
                    {% if page.menu == "Parcours" %}

                        {# On affiche le début du CV #}
                        <article>{{ collection.first.summary }}</article>
                        {% set cvid = collection.first.id %}
                        {# Et on affiche le sous-titre #}
                        <h2>Études: dossiers et mémoires</h2>
                        
                        {% include 'partials/parcours-list-item.html.twig' with {'hlevel': 'h3' } %}               

                    {% else %}
                        {% include 'partials/parcours-list-item.html.twig' with {'hlevel': 'h2' } %} 
                    {% endif %}
                    
                    
{#              
                    {% for child in collection %}
                        
                        {% if child.slug("cv") %}
                            <article>{{ child.summary }}</article>
                        {% else %}
                            
                            {% if page.slug("parcours") %}<h2>Études: dossiers et mémoires</h2>{% endif %}

                            <h2>{{ child.title }}</h2>
                        {% endif %}
                    {% endfor %} #}

                    {# {% include 'partials/parcours-list-item.html.twig' %} #}
   {#                  {% if page.slug == "parcours" %}
                        <article>
                            {{page.find('/parcours/cv').summary}}
                        </article>
                        {% include 'partials/parcours-list-item.html.twig' %}
                    {% else %}
                        {% include 'partials/parcours-list-item.html.twig' %}
                    {% endif %} #}

{#                     {% for child in page.collection %}
                        {% if child.slug == "cv" %}
                            {{ child.summary }}
                        {% else %}
                            <h2>Études: dossiers et mémoires</h2>
                             <h2>{{child.title}}</h2>

                            {% if child.children %}
                                {% for grandchild in child.children %}
                                    <h3>{{grandchild.title}}</h3>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %} #}
                </div>
            </div>
                            
            {% if show_pagination and config.plugins.pagination.enabled and collection.params.pagination %}
                <div id="listing-footer">
                    {% include 'partials/pagination.html.twig' with {base_url: page.url, pagination: collection.params.pagination} %}
                </div>
            {% endif %}

        </section>
    </section>
{% endblock %}



